@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* light gray */
  color: #111827; /* very dark gray */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
